---
interface Props {
    title: string;
    body: Array<string>;
    href: string;
    href2: string;
    img:string;
}

const { href, href2, img, title, body } = Astro.props;
---

<li
    class="my-8 w-full px-3 flex flex-col items-center bg-gradient-to-b from-gray-500/30 via-gray-300/30 to-gray-50/30 border border-gray-200 rounded-lg shadow md:flex-row list-none"
>
    <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src={img}
        alt="img"
    />
    <div class="w-full p-4 mx-5">
        <h2 class="text-3xl mb-3 font-bold text-white">
            {title}
            <span>&rarr;</span>
        </h2>
        <div>
            <ul class="text-white mb-3 list-disc">
                {
                    body.map((b) => {
                        return <li>{b}</li>;
                    })
                }
            </ul>
            <div class="flex flex-row justify-around w-full">
                <a href={href} class="text-blue-400 underline">Github</a>
                <a href={href2} class="text-blue-400 underline">Docs</a>
            </div>
        </div>
    </div>
</li>
